h1, h2, h3, h4, h5, h6 {
	font-family: "Segoe UI", Tahoma, sans-serif;
}

h1 {
	font-family: 'Calligraffitti', , sans-serif;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

p {
	margin-bottom: 1.5em;
}

strong {
	font-weight: bold;
}

a {
	text-decoration: none;
}

#header {
	background-color: #F2F5D0;
	height: 300px;
	width: 100%;
}

#header h1 {
	font-family: Calligraffitti, Georgia;
	font-size: 74px;
	text-shadow: #E5DEA5 3px 3px 4px;
	color: #454A40;
	text-align: center;
	padding-top: 20px;
	font-weight: bold;
}

#band {
	width: 100%;
	height: 7px;
	background: #292621;
}

#main {
	background-color: #DEFF84; 
	width: 100%;
	min-height: 100%;
	padding-top: 40px;
	font-family: verdana;
	padding-bottom: 20px;
        background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(255,255,255)),
		color-stop(1, rgb(199,224,209))
	);
}

#content {
	background-color: white;
	width: 980px;
	border-radius: 10px;
	margin: 0 auto;
	padding: 20px;
	-webkit-box-shadow: 10px 10px 5px #B6D124;
	box-shadow: 10px 10px 5px #B6D124;
	color: #333;
	font-size: 12px;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
        margin-bottom: .5em;
}

#content a {
	text-decoration: underline;
	color: #A6C114;
}

/**

Orange Red: #FF723A
Yellow Green: #B6D124
Blue Purple: #3E2E85
Blue: #0059A8

