<!DOCTYPE html> 
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
	<title>{{ page.title }} - Sexy PHP with ss23</title> 
	<link rel="shortcut icon" type="image/png" href="/php-help/images/favicon.png"> 
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css"> 
	<link rel="stylesheet" type="text/css" href="css/styles.css"> 
        <link rel="stylesheet" type="text/css" href="css/syntax.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
<head> 
<body> 

<div id="header">
	<h1>Sexy PHP with ss23</h1>
	<div id="menu">
	</div>
</div>

<div id="band">
</div>

<div id="main">
	<div id="content">
		{{ content }}
	</div>
</div>

</body>
</html>
